{% extends 'base.html' %}
{% load static %}


{% block title %}MORU Safaris{% endblock %}
{% block content %}
      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false" data-direction="vertical">
        <div class="swiper-wrapper text-left">
          <div class="swiper-slide context-dark" data-slide-bg="{% static '/images/wallpaper.jpg' %}">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Enjoy the Best of EAST AFRICA with our Safaris</h6>
                    <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Explore</span><span class="font-weight-bold"> East Africa</span></h2><a class="button button-default-outline button-ujarak" href="{% url 'contact_us' %}" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="{% static '/images/wallpaper2.jpg' %}">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">A team of professional Safari Experts</h6>
                    <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Trust</span><span class="font-weight-bold"> Our Experience</span></h2><a class="button button-default-outline button-ujarak" href="{% url 'contact_us' %}" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="{% static '/images/wallpaper3.jpg' %}">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Plan your Next Holiday Trip with Us</h6>
                    <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Create</span><span class="font-weight-bold"> Your Safari Tour NOW</span></h2><a class="button button-default-outline button-ujarak" href="{% url 'contact_us' %}" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
      </section>
      <!-- Section Box Categories-->
      <section class="section section-lg section-top-1 bg-gray-4">
        <div class="container offset-negative-1">
          <div class="box-categories cta-box-wrap">
            <div class="box-categories-content">
              <div class="row justify-content-center">
                <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                  <ul class="list-marked-2 box-categories-list">
                    <li><a href="safaris"><img src="https://c4.wallpaperflare.com/wallpaper/789/593/277/herd-elephant-sky-tree-wallpaper-preview.jpg" alt="Herd of elephants. Jungle Safari tour packages" width="368" height="420"/></a>
                      <h5 class="box-categories-title">Ultimate East African Odyssey</h5>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                  <ul class="list-marked-2 box-categories-list">
                    <li><a href="visittz"><img src="https://c1.wallpaperflare.com/preview/353/846/486/pink-flamingo-lake-nakuru-kenya-africa.jpg" alt="lake nakuru kenya. amazing wild sfari package" width="368" height="420"/></a>
                      <h5 class="box-categories-title">Coastal Charms</h5>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                  <ul class="list-marked-2 box-categories-list">
                    <li><a href="amzingwild"><img src="https://c4.wallpaperflare.com/wallpaper/739/979/670/5bd37af0a3ed6-wallpaper-preview.jpg" alt="2 girrafes. ultimate east africa tour package" width="368" height="420"/></a>
                      <h5 class="box-categories-title">Safari Symphony</h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><a class="link-classic wow fadeInUp" href="tours">Other Safaris<span></span></a>
          <!-- Owl Carousel-->
        </div>
      </section>
      <!-- Discover New Horizons-->
      <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 text-center wow fadeInUp"><img src="https://c4.wallpaperflare.com/wallpaper/307/1002/354/zebra-high-resolution-desktop-backgrounds-wallpaper-preview.jpg" alt="" width="556" height="382"/>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
              <div class="box-width-lg-470">
                <h3>Discover New Horizons</h3>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
                  <!-- Nav tabs-->
                  <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab">Why choose us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab">Our mission</a></li>
                  </ul>
                  <!-- Tab panes-->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-7-1">
                      <p>Moru safaris is committed to bringing our clients the best in value and quality Safari arrangements. We are passionate about travel and sharing EastAfrica's wonders with you.</p>
                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="{% url 'contact_us' %}">Get in Touch</a><a class="button button-black-outline button-md" href="about">Read More</a></div>
                    </div>
                    <div class="tab-pane fade" id="tabs-7-2">
                      <p>We are proud to offer excellent quality and value for money in our Safaris, which give you the chance to experience East Africa in an authentic and exciting way.</p>
                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="{% url 'contact_us' %}">Get in Touch</a><a class="button button-black-outline button-md" href="about">Read More</a></div>
                    </div>
                    <div class="tab-pane fade" id="tabs-7-3">
                      <p>Our mission is to provide the ultimate travel planning experience while becoming a one-stop shop for every travel service available in the industry.</p>
                      <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="{% url 'contact_us' %}">Get in Touch</a><a class="button button-black-outline button-md" href="about">Read More</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--	Our Services-->
      <section class="section section-sm">
        <div class="container">
          <h3>Our Services</h3>
          <div class="row row-30">
             {% for service in services %}
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="">{{service.heading}}</a></h5>
                    <p class="box-icon-classic-text">{{service.content}}</p>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Hot tours-->
      <section class="section section-sm bg-default">
        <div class="container">
          <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Hot Safaris</span></h3>
          <div class="row row-sm row-40 row-md-50">
            {% for tour in tours1 %}
            <div class="col-sm-6 col-md-12 wow fadeInRight">
              <!-- Product Big-->
              <article class="product-big">
                <div class="unit flex-column flex-md-row align-items-md-stretch">
                  <div class="unit-left"><a class="product-big-figure" href="{{tour.link}}"><img src="{{ tour.image.url }}" alt="" width="600" height="366"/></a></div>
                  <div class="unit-body">
                    <div class="product-big-body">
                      <h4 class="product-big-title"><a href="{{tour.link}}"><span style="font-weight: 600;">{{tour.heading}}</span></a></h4>
                      <div class="group-sm group-middle justify-content-start">
                        <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#">4 customer reviews</a>
                      </div>
                      <p class="product-big-text">{{tour.content}}
                      </p><a class="button button-black-outline button-ujarak" href="{% url 'booking' %}">Buy This Tour</a>
                      <div class="product-big-price-wrap"><span class="product-big-price">${{tour.price}}</span></div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Different People-->
      <section class="section section-sm" id="team-modern1">
        <div class="container">
          <h3 class="title-block find-car oh"><span class="d-inline-block wow slideInUp">Different People — One Mission</span></h3>
          <div class="row row-30 justify-content-center box-ordered">
            {% for team in teams %}
            <div class="col-sm-6 col-md-5 col-lg-3">
              <!-- Team Modern-->
              <article class="team-modern">
                <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles" src={{team.photo_url}} alt="" width="118" height="118"/></a>
                  <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                    <g>
                      <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                    </g>
                  </svg>
                </div>
                <div class="team-modern-caption">
                  <h6 class="team-modern-name"><a href="#">{{team.name}}</a></h6>
                  <p class="team-modern-status">{{team.position}}</p>
                  <h6 class="team-modern-phone"><a href="tel:#">{{team.phone}}</a></h6>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Section Subscribe-->
      <section class="section bg-default text-center offset-top-50">
        <div class="parallax-container" data-parallax-img="https://img.freepik.com/free-photo/man-spying-woman-using-pos-machine-from_181624-35876.jpg?size=626&ext=jpg">
          <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
            <div class="container">
              <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span class="d-block font-weight-semi-bold">First-class Impressions</span><span class="d-block font-weight-light">are Waiting for You!</span></h2>
              <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Our agency offers travelers various Safaris with destinations all over EastAfrica. Browse our website to find your dream tour!</p><a class="button button-secondary button-pipaluk" href="{% url 'booking' %}">Book a Tour Now</a>
            </div>
          </div>
        </div>
      </section>
      <!--	Instagrram wondertour-->
      <section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4">
        <div class="container-fluid" id="gallery">
          <h6 class="gallery-title">Gallery</h6>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
              <div class="thumbnail-mary-figure"><img src="{% static '/images/gallery1.jpg' %}" alt="" width="270" height="195"/>
              </div>
              <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="" data-lightgallery="item"><img src="{% static '/images/gallery1.jpg' %}" alt="" width="270" height="195"/></a>
              </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
              <div class="thumbnail-mary-figure"><img src="{% static '/images/g1.jpg' %}" alt="" width="270" height="195"/>
              </div>
              <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="" data-lightgallery="item"><img src="{% static '/images/gallery4.jpg' %}" alt="" width="270" height="195"/></a>
              </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
              <div class="thumbnail-mary-figure"><img src="{% static '/images/g3.jpg' %}" alt="" width="270" height="195"/>
              </div>
              <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="images/gallery-image-5-1200x800-original.jpg" data-lightgallery="item"><img src="{% static 'images/gallery-image-5-270x195.jpg' %}" alt="" width="270" height="195"/></a>
              </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
              <div class="thumbnail-mary-figure"><img src="{% static '/images/gallery4cropped.jpg' %}" alt="" width="270" height="195"/>
              </div>
              <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="images/gallery-image-6-1200x800-original.jpg" data-lightgallery="item"><img src="{% static 'images/gallery-image-6-270x195.jpg' %}" alt="" width="270" height="195"/></a>
              </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
            <div class="thumbnail-mary-figure"><img src="{% static '/images/g5.jpg' %}" alt="" width="270" height="195"/>
              </div>
              <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="images/gallery-image-7-1200x800-original.jpg" data-lightgallery="item"><img src="{% static 'images/gallery-image-7-270x195.jpg' %}" alt="" width="270" height="195"/></a>
              </div>
            </article>
          </div>
        </div>
      </section>
{% endblock %}